<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Command Line</title>
  </head>
  <body>
    <h1>Command line</h1>
    <ul class="cmd">
      <li><a href="manpage/cd">cd</a></li>
      <li><a href="manpage/mkdir">mkdir</a></li>
      <li><a href="manpage/touch">touch</a></li>
      <li><a href="manpage/pwd">pwd</a></li>
      <li><a href="manpage/ls">ls</a></li>
  </ul>
  <div class="bottom">
  <a href="/">Home Page</a>
  <a href="/search">Search ManPages</a>
</div>
  </body>
</html>
