<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Man Pages</title>
  </head>
  <body>
    <h1>Search For Man Page</h1>
    <form action="/search_manpages" method="POST">
      <input class="txt" type="text" name="manpages"/>
      <input type="submit" name="submit"/>
    </form>
    <div class="bottom">
    <a href="/">Home</a>
    <a href="/command_line">Command Line</a>
  </div>
  </body>
</html>
